.container {
  background-color: lightblue;
  width: 225px;
  height: 225px;
  padding: 12.5px;
}

.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: 100px;
  left: 100px;
  border-width: 15;
  border-color: white;
  border-style: solid;
}

.div3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 150px;
}

.div4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 150px;
  left: 150px;
}

.div5 {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 65px;
  left: 65px;
  border-width: 15;
  border-color: white;
  border-style: solid;
}
